
<% if user_signed_in? %>
	<h1> Hi! </h1>

<% else %>

<div class ="hero-unit">
	<h1>Hey there this a homepage</h1>
	<p>
		you found us!
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		

	</p>
	<p>
		
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large"%>
	</p>
	</div>

<% end %>