

<h1> About! </h1>

<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	This is a project to teach kids to code in a month
	teach <%= link_to "Ruby on Rails", "http://rubyonrails.com" %>


</p>